<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>About</h1>
    <small>
      ※本サイトは<a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      を参考にして<a href="http://rubyonrails.org/">Ruby on Rails</a>
      にて開発されたアプリケーションです。
    </small><br><br>
    <p>
      TRPG Calendarは予定を一覧で表示し、予定を見やすく管理できるアプリケーションです。
    </p>
    <h2><%=image_tag "about.png", :class => "about-image"%></h2>
  </body>
</html>