<div class="center jumbotron" id="portfolio">
      <h1 id="relative">TRPG Calendar</h1>
        <h2 id="relative">セッションの日程を一括管理しましょう</h2>
    <%= link_to "登録はこちら", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>


